* {
  padding: 0px;
  margin: 0px;
}

.main_slider_container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
#slider {
  width: 100%;
  height: 100%;
  /* border: 1px solid seagreen ; */
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
}
#slider::-webkit-scrollbar {
  display: none;
}
.slider_icon_left {
  background-color: white;
  border-radius: 100%;
  position: absolute;
  opacity: 0.2;
  left: -55px;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.slider_icon_right {
  background-color: white;
  border-radius: 100%;
  position: absolute;
  opacity: 0.5;
  right: -55px;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.slider_icon_left:hover,
.slider_icon_right:hover {
  opacity: 1;
}
.slider_card {
  width: 350px;
  height: 435px;
  background-color: white;
  border-radius: 10px;
  display: inline-block;
  /* border: 1px solid seagreen ; */
  margin-left: 5px;
  margin-right: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#image {
  /* border: 1px solid black ; */
  height: "300px";
  border-radius: 10px 10px 0px 0px;
  width: "375px";
}
#image > img {
  border-radius: 10px 10px 0px 0px;
}
#heading {
  /* border: 1px solid red; */
  width: 90%;
  margin: auto;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 20px;
}
#para {
  /* border: 1px solid red; */
  width: 90%;
  margin: auto;
  font-size: 13px;
  margin-left: 15px;
}
#wt {
  /* border: 1px solid red; */
  font-size: 13px;
  margin-left: 15px;
  margin-top: 8px;
  font-weight: 500;
  color: #4e565d;
}
#blook {
  /* border: 1px solid red; */
  display: flex;
  gap: 10px;
  margin-top: 15px;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 10px;
  margin-bottom: 15px;
}
