.product_card_wrapper{
    height: 450px;
    border-radius: 15px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* .product_card_wrapper > div{
    height: 500px;
    border: 1px solid;
} */

.img_wrapper{
    width: 100%;
    height: 50%;
    margin: auto;
}
.img_wrapper> img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.name_wrapper{
    width: 95%;
    height: 10%;
    margin: 5px auto;
}
.name_wrapper > h2{
    font-weight: bold;
    color: #4A4A4A;
}

.desc_wrapper{
    width: 95%;
    height: 10%;
    margin: 5px auto;
}
.desc_wrapper > p {
    font-size: 15px;
    color: #727272;
}

.weight_wrapper{
    width: 95%;
    height: 10%;
    margin: 5px auto;
}
.weight_wrapper > h3{
    font-weight: bold;
    color: #4A4A4A;
}
.mrp_cart_wrapper{
    width: 95%;
    height: 10%;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
}
.mrp_cart_wrapper> div{
    width: 40%;
    height: 100%;
}

.mrp_cart_wrapper> .mrp > h2{
   color: #D11243;
   font-weight: bolder;
}
.cart_btn{
    background-color: #D11243;
    color: white;
    padding: 5%;
    border-radius: 5px;
}


