.body {
  width: 100%;
  height: auto;
  margin-top: 6.7%;
  padding: 5px;
  margin-bottom: 20px;
  background-color: whitesmoke;
}

.page_body {
  width: 85%;
  height: auto;
  margin: auto;

  background-color: whitesmoke;
}

.static_nav_section {
  width: fit-content;
  gap: 20px;
  /* height: 50px; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* border: 1px solid red; */
  margin-top: 1%;
  margin-bottom: 1%;
}

/* .static_nav_section>div {} */

.static_nav_section>div>img {
  width: 40px;

}

.child-1>h1 {
  font-size: 2rem;
  font-weight: bolder;
  color: rgb(99, 96, 96);
}

.child-2 {
  margin: auto;
  display: flex;
}

.child-2>img {
  width: 100%;
  height: 100%;
}

.child-2>h3 {
  margin: auto;
  color: rgb(99, 96, 96);
  cursor: pointer;
}

.child-3 {
  margin: auto;
  display: flex;
}

.child-3>img {
  width: 80%;
  height: 100%;
}

.child-3>h3 {
  margin: auto;
  color: rgb(99, 96, 96);
  cursor: pointer;
}

/* ********** filter ************/
.filter_wrapper {
  width: 100%;
  height: fit-content;
  display: flex;

  border-top: 0.5px solid gray;
  border-bottom: 0.5px solid gray;
}

.filter_wrapper_box {
  width: 100%;
  height: 70%;
  padding: 5px;
  display: flex;
  gap: 10px;
  /* border: 1px solid red; */
  justify-content: left;
  align-items: flex-start;
}

.filter_wrapper_box>div {
  border-radius: 5px;
  /* border: 1px solid red; */
  /* background-color: white; */
  margin: auto;
  width: auto;
  height: 100%;
  padding: 5px;
}

/* body wrapper */
.body_wrapper {
  width: 90%;
  height: auto;
  padding-bottom: 100px;
  /* border: 1px solid red; */
  margin-top: 1%;
  display: grid;
  margin: auto;
  margin-top: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

/* for tablet screen */
@media all and (min-width: 451px) and (max-width: 950px) {
  .static_nav_section {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid gray;
    display: flex;
    /* margin-top: 14%; */
  }

  .body {
    margin-top: 10%;
  }

  .catMenu {
    width: 150px;
  }

  .page_body {
    width: 95%;
    height: auto;
    margin: auto;
    background-color: whitesmoke;
  }

  .static_nav_section>div {
    width: 250px;
    height: 80%;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .filter_wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    margin-top: 1%;
    padding: 5px;
    background-color: white;
    border-bottom: 1px solid gray;
    /* margin-bottom: 20%; */
  }

  .filter_wrapper_box {
    width: 100%;
    height: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 190px);
  }

  .filter_wrapper_box>div {
    border: 1px solid;
    border-radius: 5px;
    margin: auto;
    width: auto;
    padding: 5px;
    height: 100%;
  }

  .body_wrapper {
    width: 100%;
    /* border: 1px solid red; */
    height: auto;
    margin: auto;
    margin-top: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);

  }
}

/* //for mobile screen */
@media all and (min-width: 80px) and (max-width: 500px) {
  .filter_wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: white;
    border-bottom: 1px solid gray;
    /* margin-bottom: 45%; */
    /* margin-top: 5%; */
  }

  .catMenu {
    width: 160px;
  }

  .page_body {
    width: 90%;
    height: auto;
    margin: auto;
    background-color: whitesmoke;
  }

  .filter_wrapper_box {
    width: 100%;
    height: 98%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

  }

  .body_wrapper {
    width: 85%;
    height: auto;
    /* margin-top: 1%; */
    margin-top: 10px;
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
}