.body {
  width: 100%;
  height: auto;
  margin-top: 7%;
  margin-bottom: 20px;
  background-color: whitesmoke;
}
.page_body {
  width: 85%;
  height: auto;
  margin: auto;
  background-color: whitesmoke;
}

.static_nav_section {
  width: 100%;
  height: 50px;
  display: flex;
  border-bottom: 1px solid gray;
}
.static_nav_section > div {
  width: auto;
  height: 80%;
}
.static_nav_section > div > img {
  width: 40px;
  height: 40px;
}
.child-1 > h1 {
  font-size: 2rem;
  font-weight: bolder;
  color: rgb(99, 96, 96);
}
.child-2 {
  margin: auto;
  display: grid;
  grid-template-columns: 20% 80%;
}
.child-2 > img {
  width: 100%;
  height: 100%;
}
.child-2 > h3 {
  margin: auto;
  color: rgb(99, 96, 96);
  cursor: pointer;
}

.child-3 {
  margin: auto;
  display: grid;
  grid-template-columns: 20% 80%;
}
.child-3 > img {
  width: 100%;
  height: 100%;
}
.child-3 > h3 {
  margin: auto;
  color: rgb(99, 96, 96);
  cursor: pointer;
}

/* ********** filter ************/
.filter_wrapper {
  width: 100%;
  height: 60px;
  display: flex;
  margin-top: 1%;
  background-color: white;
  border-bottom: 1px solid gray;
}
.filter_wrapper_box {
  width: 100%;
  height: 70%;
  margin-top: 1%;
  display: flex;
  justify-content: center;
}
.filter_wrapper_box > div {
  border-radius: 5px;
  /* background-color: white; */
  margin: auto;
  width: auto;
  height: 100%;
  padding: 5px;
}

/* body wrapper */
.body_wrapper {
  width: 100%;
  height: auto;
  margin-top: 1%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .static_nav_section {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid gray;
    display: flex;
  }
  .static_nav_section > div {
    width: 250px;
    height: 80%;
    margin-top: 0.6%;
  }
  .filter_wrapper_box {
    width: 100%;
    height: 70%;
    display: flex;
  }
  .filter_wrapper_box > div {
    border: 1px solid;
    border-radius: 5px;
    margin: auto;
    width: auto;
    padding: 5px;
    height: 100%;
  }
  .body_wrapper {
    width: 100%;
    height: auto;
    margin-top: 1%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}

@media screen and (max-width: 640px) {
  .static_nav_section > div {
    width: 250px;
    height: 80%;
    margin-top: 0.6%;
    font-size: 10px;
  }
  .filter_wrapper {
  width: 100%;
  height: 60px;
  display: flex;
  margin-top: 1%;
  background-color: white;
  border-bottom: 1px solid gray;
}
  .filter_wrapper_box {
    width: 100%;
    height: 70%;
    display: flex;
  }
  .filter_wrapper_box > div {
    border: 1px solid;
    border-radius: 5px;
    margin: auto;
    width: auto;
    padding: 5px;
    height: 100%;
    font-size: 10px;
  }
  .body_wrapper {
    width: 100%;
    height: auto;
    margin-top: 1%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
}
